body {
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background:url(images/bg.png) no-repeat fixed;
	background-color: #fff;
	background-size: cover;
	color:#bbb;
	min-width:600px;
}

input{
	border:1px solid #eee;
	padding:2px !important;
}


* {
	border-collapse: collapse;
  box-sizing: border-box;
	border: 0px;
}

A:link {
	COLOR: #eee;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #eee;
	TEXT-DECORATION: none;
}
A:active {
	COLOR: #eee;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #fff;
	TEXT-DECORATION: underline;
}
.myctl {
	PADDING: 0px;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
background: rgba(40, 40, 40, .9);
	MARGIN: 0px;
	FONT: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: #eee;
}

.mytext {
	FONT: 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}
.mytext2 {
	FONT: 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
}
.mytext3 {
	FONT: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

table {
	table-layout: fixed;
	background:none !important;
	width:100% !important;
	padding:2px 10px;
}
th{
	margin-top:10px;
}

.mytable {
	border-collapse:collapse;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
background: rgba(40, 40, 40, .9);
}
.mytitle {
	color:#eee;
	padding-left: 40px;
	font-size: 20px;
	width:100%;
	background: rgb(140, 140, 140); /* Fall-back for browsers that don't	support rgba */
	background: rgba(240, 240, 240, .2);
}

.mytitle td{
	padding:2px 10px;
	vertical-align:top;
	padding-left: 40px;
}

.myheader {
	font-family:Verdana;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}
.mycell {
	font-family:Verdana;
	font-size:8pt;
	text-align:center;
}
.dashed {
	font-family:Verdana;
	font-size:7pt;
	text-align:center;
	border-collapse:collapse;
}
.serverinfo {
	float:left;
	width:auto;
	top:0px;
	overflow:hidden;
	margin:20px -150px 20px 20px;
	padding:10px;
	background: rgb(20, 20, 20); /* Fall-back for browsers that don't       support rgba */
	background: rgba(20, 20, 20, .9);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.7);
}

.serverinfo font{
	float:right;
}

.serverinfo .tooltip font{
	float:right;
}

.redir {
	font-family:Verdana;
	font-size:9pt;
	text-align:center;
	border-collapse:collapse;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
	background: rgba(40, 40, 40, .9);
}
td {
	border-collapse:collapse;
}



.header{
	box-sizing: border-box;
	padding:0px;
	//margin-bottom:10px;
	background-color: #333;
	margin:0 auto 0 auto;
	width:90%;
	//border-bottom:1px solid black;
	overflow:hidden;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	background-size: cover;
}


.loginstatus{
	box-sizing: border-box;
	padding:20px;
	margin:auto;
	width:90%;
	text-align: center;
	margin-bottom:5px;
	background: rgb(20, 20, 20); /* Fall-back for browsers that don't	support rgba */
	background: rgba(20, 20, 20, .9);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}


.content{
	width:100%;
	display: table-cell;
	overflow: hidden;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
	background: rgba(40, 40, 40, .9);
}
.main{
	width:90%;
	margin:auto;
	overflow: hidden;
	display:table;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.debuginfo{
	box-sizing: border-box;
	width:90%;
	margin: auto;
	overflow: hidden;
	font-size:10px;
	padding: 10px;
	color:#aaa;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
	background: rgba(40, 40, 40, .9);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.footerinfo{
	width:33%;
	float: left;
}



.menu{
	vertical-align: top;
	display: table-cell;
	font-size:10pt;
	text-align: center;
	border-right: 1px solid rgba(80, 80, 80, .9);
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
	background: rgba(40, 40, 40, .9);
}
.menu a{
	padding:6px;
	color:black;
	text-decoration: none;
	text-align: left;
	display: block;
	background: rgb(80, 80, 80); /* Fall-back for browsers that don't	support rgba */
	background: rgba(180, 180, 180, .2);
	width:200px;
}

.menuheader{
	color:black;
	font-weight: bold;
	background: rgb(140, 140, 140); /* Fall-back for browsers that don't	support rgba */
	background: rgba(240, 240, 240, .2);
	width:200px;
}

.menusubheader{
	color:black;
	background: rgb(140, 140, 140); /* Fall-back for browsers that don't	support rgba */
	background: rgba(240, 240, 240, .2);
	width:200px;
}

.menu a:hover{
	background-color: #ccc;
}

.footer{
	box-sizing: border-box;
	padding:10px;
	background: rgb(20, 20, 20); /* Fall-back for browsers that don't	support rgba */
	background: rgba(20, 20, 20, .9);
	width:90%;
	margin: auto;
	overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}


.skinselection{
	width:33%;
	overflow: hidden;
	float: left;
}

.servername{
	margin:0;
	padding:0;
	border:0;
	font-size:100px;
	color:#eee;
	text-align:center;
	text-shadow: 2px 3px 4px rgb(0, 0, 0);
	text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6);
}

.contentTable{
	text-align:left;
	//table-layout: auto;
	width:100%;
	font-family:Verdana;
	font-size:8pt;
}

.contentTable.mobList{
	table-layout: auto;
	white-space:nowrap;
}

.contentTable td{
	padding:2px 10px;
	vertical-align:top;
}
.contentRowHeader{
	color:#eee;
	padding-left: 40px;
	font-size: 20px;
	width:100%;
	background: rgb(140, 140, 140); /* Fall-back for browsers that don't	support rgba */
	background: rgba(240, 240, 240, .2);
}

.contentRowHeader td{
	padding-left: 40px;
}

.contentRowSubHeader{
	font-family:Verdana;
	font-size:9pt;
	font-weight:bold;
	width:100%;
}

.mobDrops img{
	height:15px;
	width:15px;
	float:left;
	margin:0px 10px 0px 3px;
}
.mobDrops td{
	vertical-align:middle;
}

.contentRowHeader.drops{
	color:#eee;
	padding-left: 40px;
	font-size: 12px;
	width:auto;
	background: rgb(100, 100, 100); /* Fall-back for browsers that don't	support rgba */
	background: rgba(140, 140, 140, .2);
}


.items{
	font-family:Verdana;
	font-size:8pt;
	text-align:center;
}


.items img{
	margin:5px;
	background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
	background: rgba(40, 40, 40, .6);
	height:100px;
	width:75px;
	float:left;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.8);
}

.items img:before {
  content: "?";
	height:100px;
	width:75px;
	font-size: 80px;
	position:relative;
	display: block;
	top:0;
	background:#fff;
	margin-bottom:-100px;
}

/* equipment stuff */

.tooltipright img{
	height:15px;
	width:15px;
	#float:left;
	margin:0px 10px 0px 3px;
}


box{
font-family: "Courier New", monospace;
font-size: 13px;
}

.equipmentList{
	width:30px;
	height:30px;
	padding:2px !important;
	margin:2px;
	border:1px solid #777777;
	float:left;
	border-radius: 3px;
}

.equipment{
	/*white-space: nowrap;
	table-layout: auto;*/
}

.contentRowHeader.charlist{
	color:#eee;
	padding-left: 40px;
	font-size: 12px;
	width:auto;
	background: rgb(100, 100, 100); /* Fall-back for browsers that don't	support rgba */
	background: rgba(140, 140, 140, .2);
}

.equipmentList.equipped{
	border:1px solid #00DD00;
}

.equipmentList.damaged{
	border:1px solid #DD0000;
}

.equipmentList.unidentified{
	border:1px solid #AAAAAA;
}

.tooltiptext.equipped{
	color: #007700 !important;
}

.tooltiptext.damaged{
	color: #550000 !important;
}

.tooltiptext.unidentified{
	color: #AAAAAA !important;
}


/* Tooltip text */
.equipmentList .tooltiptext {
	margin:5px;
	//width: 120px;
	background: rgba(240, 240, 240, .8);
	color: #000;
	padding: 10px;
	border-radius: 3px;
}

.tooltipcontainer{
	visibility: hidden;
	margin-top: 25px;
	position: absolute;
	z-index: 1;
}

.amountInfo{
	margin-top: 16px;
	margin-left: -2px;
	padding-left: 2px;
	width:28px;
	background: rgba(0, 0, 0, .5);
	font-size: 8px;
	position: absolute;
	border-radius: 0 0 2px 2px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.equipmentList:hover .tooltipcontainer {
    visibility: visible;
}

.equipmentList .tooltiptext .tooltipleft{
  	display: table-cell;
		margin:5px;
}

.tooltipleft img{
		margin:5px;
		background: rgb(40, 40, 40); /* Fall-back for browsers that don't	support rgba */
		background: rgba(40, 40, 40, .6);
		height:100px;
		width:75px;
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.8);
}

.equipmentList .tooltiptext .tooltipright{
  	display: table-cell;
		padding-left: 10px;
    vertical-align: top;
}

.charstats{
	float:left;
	padding-right: 10px;
	width:150px;
	height:100%;
}

.charstats img{
	margin:0 auto;
	display:block
}

.charitems{
	display:table-row;
}

.charitems td{
  height:35px;
  vertical-align:middle;
}

.charitems td.equipped{
	width:80px;
	padding:5px;
	height:35px;
	vertical-align:middle;
}

.contentRowHeader div{
	width:250px;
}

.contentRowHeader.charlist td{
	display: flex;
  justify-content: space-between;
}

.pageing{
	text-align: center;
}


.securityCodeBox{
	margin:auto;
	padding:10px;
	width: 130px;
	background:#fff;
	text-align: center;
}

.contentRowHeader.exptable td{
	color:#eee;
	padding-left: 10px !important;
	font-size: 12px;
}
.contentRowHeader.exptable{
	background: rgb(100, 100, 100); /* Fall-back for browsers that don't	support rgba */
	background: rgba(140, 140, 140, .2);
}


.tooltip .tooltipcontainer {
	margin:5px;
	background: rgba(40, 40, 40, .8);
	color: #bbb;
	padding: 10px;
	border-radius: 3px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontainer {
    visibility: visible;
}
